MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2022-CU12-ubuntu22.04
MSSQL_CONTAINER_NAME=sqlserver
MSSQL_PID=Developer
ACCEPT_EULA=Y
SA_PASSWORD=ChangeThisStrongPassword123!
TZ=UTC
MSSQL_DATABASE=appdb
BACKUP_RETENTION_DAYS=14
BACKUP_FILE_PREFIX=sqlserver_backup
