MYSQL_VERSION=8.0
MYSQL_CONTAINER_NAME=mysql
MYSQL_DATABASE=appdb
MYSQL_USER=appuser
MYSQL_PASSWORD=ChangeThisStrongPassword123!
MYSQL_ROOT_PASSWORD=ChangeThisRootPassword123!
TZ=UTC
BACKUP_RETENTION_DAYS=14
BACKUP_FILE_PREFIX=mysql_backup
