POSTGRES_VERSION=16
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=ChangeThisStrongPassword123!
TZ=UTC
BACKUP_RETENTION_DAYS=14
BACKUP_FILE_PREFIX=postgres_backup
